# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# IDE files
.vscode/
.idea/
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# macOS and Windows files
.DS_Store
Thumbs.db

# Local environment variables
.env

# Build files
*.apk
*.aab
*.unitypackage
*.app